@import "setup";
@import "layout";

.panel {
  width: 360px;
  max-width: 100%;
}

#quiz-settings {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .button-group {
    margin-top: 8px;
  }
}