@import "setup";
@import "layout";

.panel {
  width: 512px;
  max-width: 100%;
}

table {
  width: 100%;
  text-align: left;

  th,
  td {
    padding: 4px 8px;


    @include mobile {

      &:nth-child(3),
      &:nth-child(5) {
        display: none;
      }
    }
  }

  tbody {
    max-height: 320px;
    overflow: auto;
  }
}